body {
    /* background-color: rgb(137, 16, 173); */
}

body {
    /* background-color: rgb(71, 71, 70); */
    /* background: url("./Images/toss_beer.jpg"); */
    opacity: 2.8;
    background-size: cover;
    height: auto;
}

.heading {
    color: white;
    font-family: 'Sorts Mill Goudy', serif;
    margin-top: 2rem;
    /* margin-right: 1rem;  */
    text-align: center;
}

.removeFav {
    color: white;
    font-family: 'Sorts Mill Goudy', serif;
    margin-right: 15px;
}

.backImage {
    /* background: url("./Images/bar.jpg");  */
    /* opacity: 2.8; */
    /* background-size: cover; */
    /* height: auto;  */
    /* width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* background-image: ${(props) =>
      `url(${require(`../images/${props.backgroundImage}`).default})`}; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;  */
  
}